openapi: 3.0.3
info:
  title: CeraMarket API - Orders Domain
  version: 1.0.0
  description: API for managing custom ceramics orders.
servers:
  - url: https://api.ceramics-app.com/v1
    description: Production Server (v1)

paths:
  /orders:
    get:
      summary: Get a list of orders
      description: Returns a list of orders with support for pagination, filtering, and sorting.
      security:
        - BearerAuth: []
      parameters:
        - name: page[number]
          in: query
          description: Page number (starts from 1)
          schema:
            type: integer
            default: 1
        - name: page[size]
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
        - name: sort
          in: query
          description: Field for sorting (use minus prefix for descending)
          schema:
            type: string
            example: "-createdAt"
        - name: filter[status]
          in: query
          description: Filter by status
          schema:
            type: string
            enum: [draft, active, in_progress, completed, cancelled]
      responses:
        '200':
          description: Successfully retrieved list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      summary: Create a new order
      description: Creates a specification for a new ceramic product.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreateRequest'
      responses:
        '201':
          description: Order successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/BadRequest'

  /orders/{orderId}:
    get:
      summary: Get order details
      description: Returns the order object directly.
      security:
        - BearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      summary: Partial order update
      description: Updates only the provided fields of the order.
      security:
        - BearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderPatchRequest'
      responses:
        '200':
          description: Successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /orders/{orderId}:hold-funds:
    post:
      summary: Hold funds (Custom Method)
      description: Non-standard action. Freezes the customer's funds to take the order into production.
      security:
        - BearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
              required:
                - amount
      responses:
        '200':
          description: Funds successfully held
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Business conflict (e.g., inappropriate order status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Order:
      type: object
      properties:
        id:
          type: string
          format: uuid
        clientId:
          type: string
          format: uuid
        title:
          type: string
          example: "Handmade ceramic mug"
        description:
          type: string
        minPrice:
          type: number
        maxPrice:
          type: number
        status:
          type: string
          enum: [draft, active, in_progress, completed, cancelled]
        createdAt:
          type: string
          format: date-time
          example: "2026-06-15T14:30:00Z"

    OrderCreateRequest:
      type: object
      required:
        - title
        - description
        - maxPrice
      properties:
        title:
          type: string
        description:
          type: string
        minPrice:
          type: number
        maxPrice:
          type: number

    OrderPatchRequest:
      type: object
      properties:
        title:
          type: string
        maxPrice:
          type: number

    OrderListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        page:
          $ref: '#/components/schemas/Pagination'

    Pagination:
      type: object
      properties:
        number:
          type: integer
          example: 1
        size:
          type: integer
          example: 20
        totalItems:
          type: integer
          example: 45
        totalPages:
          type: integer
          example: 3

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: "VALIDATION_FAILED"
            message:
              type: string
              example: "Provided data failed validation."
            details:
              type: object

  responses:
    BadRequest:
      description: Bad request (e.g., validation error)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing or invalid token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'